<form [formGroup]="remindPasswordForm" (submit)="resetPassword(remindPasswordForm.value)">

  <div class="container center-align row">
    <h3>Please, enter your e-mail</h3>

    <div class="card-panel hoverable col s6 offset-s3">

      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_email" type="text" formControlName="email">
        <label for="icon_email">Email</label>
      </div>

      <div *ngIf="message" class="error">
        {{message}}
      </div>

      <div style="min-width: 25%; margin-bottom: 30px;">
      <button type="submit" class="btn" [disabled]="!remindPasswordForm.valid">Reset</button>
      <button type="button" class="btn" style="min-width: 25%;" routerLink="">Cancel</button>
      </div>

    </div>
  </div>
</form>
