<div class="container center-align row">

  <div class="card-panel hoverable col s6 offset-s3">

    <form [formGroup]="passwordForm" (submit)="changeUserPassword(passwordForm.value)" style="padding-bottom: 15px">
      <h5>Change your password: </h5>

      <div class="input-field col s12">
        <i class="material-icons prefix">enhanced_encryption</i>
        <input id="icon_password_new" type="password" formControlName="newPassword"
               [ngClass]="{valid: passwordForm.controls['newPassword'].valid && passwordForm.controls['newPassword'].touched,
    invalid: !passwordForm.controls['newPassword'].valid && passwordForm.controls['newPassword'].touched  &&
    passwordForm.controls['newPassword'].value != null}">
        <label for="icon_password_new">New Password</label>
      </div>

      <div class="input-field col s12">
        <i class="material-icons prefix">enhanced_encryption</i>
        <input id="icon_password_new_confirm" type="password" formControlName="newPasswordConf"
               [ngClass]="{valid: passwordForm.controls['newPasswordConf'].valid && passwordForm.controls['newPasswordConf'].touched,
    invalid: !passwordForm.controls['newPasswordConf'].valid && passwordForm.controls['newPasswordConf'].touched  &&
    passwordForm.controls['newPasswordConf'].value != null}">
        <label for="icon_password_new_confirm">Confirm New Password</label>
      </div>

      <div class="error" *ngIf="changePasswordMessage">
        {{changePasswordMessage}}
      </div>

      <button class="btn" [disabled]="!passwordForm.valid" type="submit">Change password</button>

    </form>

  </div>

</div>
