<div class="container center-align row">

  <div class="card-panel hoverable col s6 offset-s3">

    <div *ngIf="userName">
      <h5>Welcome, {{userName}}</h5>
    </div>

    <div style="padding: 10px">
      <button class="btn" mat-icon-button [matMenuTriggerFor]="menu">Profile Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item style="background: transparent" (click)="routeToChangePassword()">
          <mat-icon>security</mat-icon>
          Change password</button>
        <button mat-menu-item (click)="isTokenValid()">
          <mat-icon>stars</mat-icon>
          Check token</button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>backspace</mat-icon>
          Logout
        </button>
      </mat-menu>
    </div>

    <div style="padding: 20px;" *ngIf="okMessage">
      {{okMessage}}
    </div>

    <div class="error" style="padding: 20px;" *ngIf="errorStatus">
      <p>Server response with: {{errorStatus}} status</p>
    </div>

  </div>

</div>


